@media screen and (max-width: 700px) {
    body{
        font-size: 70%;
    }

    header .container, .btn-play-plus{
        display: flex;
        flex-direction: column;
    }

    #filmeAtual{
        text-align: center;
    }

    .btn-play-plus button{
        margin: 10px auto;
        width: 80%;
    }
}