@charset "UTF-8";

:root{
    --vermelho: #d81f26;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Arial Black", Helvetica, sans-serif;
}

body{
    background-color: var(--preto);
}

.container{
    margin: 0 50px;
}

header{
    background-color: var(--preto);
}

header h1{
    color: var(--vermelho);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a{
    margin-right: 10px;
    color: #aaa;
    transition: all .3s ease-out;
}

header nav a:hover{
    color: #fff;
}

#filmeAtual{
    width: 100%;
    height: calc(100vh - 45px);
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../img/hp7-2-back.jpg") no-repeat;
    background-size: cover;
}

#filmeAtual .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#filmeAtual .container #titulo{
    font-size: 50pt;
}

#filmeAtual .container #sinopse{
    font-size: 20pt;
}

.btn-play-plus{
    margin-top: 50px;
}

.btn-play-plus button{
    width: 220px;
    padding: 10px 20px;
    background-color: rgba(0,0,0,.5);
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: all .3s ease-out;
    border-radius: 2px;
}

.btn-play-plus button:hover{
    color: #000;
    background-color: #fff;
}

.btn-play-plus button i{
    margin-right: 5px;
}

.btn-play-plus button:hover i{
    color: #000;
}

#minhaLista .container{
    display: flex;
    width: 100%;
    margin: 0;
    overflow-x: scroll;
}

#minhaLista .container img{
    margin: 10px 5px;
    height: 400px;
}